[submodule "DatabaseFrontend"]
	path = DatabaseFrontend
	url = https://github.com/WanderingCard/DatabaseFrontend
	branch = main
[submodule "DatabaseBackend"]
	path = DatabaseBackend
	url = https://github.com/WanderingCard/DatabaseBackend
	branch = main
